@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'reset.css';
@import 'variable.css';

/* Component */
@import 'components/status-style.css';
@import 'components/nav-bar.css';
@import 'components/header1.css';
@import 'components/user-component.css';
@import 'components/seperate-component.css';
@import 'components/alt-screen-header.css';

/* Screen */
@import 'screens/login.css';
@import 'screens/friends.css';
@import 'screens/chats.css';
@import 'screens/find.css';
@import 'screens/more.css';
@import 'screens/settings.css';
@import 'screens/chat.css';

body{
    font-family: "Open Sans", sans-serif;
}

main{
    margin: 0px var(--content-margin);
}

h1 {
    font-weight: 800;
    font-size: 15pt;
}