.content-screen-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 20px var(--content-margin);
}

.content-screen-column i{
    color: rgba(0, 0, 0, 0.7);
}

.content-screen-column{
    display: flex;
    justify-content: center;
    width: 33%;
}

.content-screen-column:first-child{
    justify-content: flex-start;
}

.content-screen-column:last-child{
    justify-content: flex-end;
}
